extends partials/_frame
block main
  h1 GRANDSON HAS CHILD
  - var currentUrl = locals.currentUrl
  - var id         = locals.id
  - var root       = locals.root
  - var item       = locals.grandson.lists[id]
  - var title      = item.title
  - var elements   = item.elements
  p currentUrl = #{currentUrl}
  p id = #{id}
  p #{title}

  each index, i in elements
    if index.type == 'image'
      img(src="#{root}images/#{currentUrl}#{index.elem}")
      //- p #{root}/images/#{currentUrl}/#{index.elem}

    if index.type == 'title'
      h3 #{index.elem}

    if index.type == 'text'
      p(style="margin-top:30px;") #{index.elem}

    if index.type == 'child'
      a(href="./#{index.elem}/" style="display:block; width:100px; height:100px; background-color:#ddd; margin-top:30px;")
  //-   a(href="./#{index}/" style="display:block; margin-top:50px;")
  //-     p #{items[index].title}
  //-     p #{items[index].text}
