- var parents = Object.keys(locals.parent.parent)
- var currentUrl = locals.root


header
  h3 ヘッダー
  h3 #{currentUrl}
  //- h3 #{relative}
  a(href="#{root}") top
  each index, n in parents
    a(href="#{root}#{index}" style="margin-left:30px;") #{index}

