- var parents = Object.keys(locals.parent.parent)
- var currentUrl = locals.currentUrl
- var root = locals.root


header
  p ヘッダー
  p #{currentUrl}
  p root = #{root}
  //- h3 #{relative}
  a(href="#{root}") top
  each index, n in parents
    a(href="#{root}#{index}" style="margin-left:30px;") #{index}

